@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* Phan login */

/* Phần category */

.row_none select {
  display: none !important;
}

.data-table tr th {
  padding: 10px 5px !important;
}

.data-table tr th select {
  width: 100% !important;
  height: 25px !important;
  padding: 10px 5px !important;
}

#cat_table_filter input {
  width: 300px;
  height: 30px;
  border-radius: 25px;
  padding: 10px;
}

#lang #vi {
  width: 19px;
  height: 15px;
}

.page-title .title_right {
  text-align: right;
}

.page-title .title_right #lang {
  left: -47px !important;
}

.clearfix_top {
  border-bottom: 1px solid;
  margin-bottom: 15px;
}

.imagePreview {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.checkbox label {
  padding-left: 0px !important;
}

.radio label {
  padding-left: 0px !important;
}

.site_title i {
  border: none;
}

/* Datatable */

table .dataTable thead th {
  padding: 5px 25px 5px 7px !important;
}

#category_img .thumbnail {
  height: 445px !important;
  overflow: hidden;
}

ul .bar_tabs {
  background: none;
  margin-bottom: 50px;
}

#send_cat {
  float: right;
}

#cancel {
  float: right;
}

.title_create_right {
  text-align: right;
}

.title_create_left {
  text-align: left;
}

.del_sub_item {
  display: inline;
}

/* Secsion Products */

.add_pro {
  margin-bottom: 10px;
}

#list_add_pro #list_add_img_pro {
  padding: 0px !important;
}

#list_img_pro_color {
  padding: 0px !important;
}

#list_img_pro_color li {
  list-style-type: none;
}

#list_add_pro li {
  list-style-type: none;
}

#list_add_img_pro li {
  list-style-type: none;
}

#users-table_filter input {
  width: 240px;
}

.dataTables_wrapper {
  margin-top: 26px;
}

/* phần search products*/

.twitter-typeahead {
  width: 100% !important;
}

.tt-menu {
  width: 100% !important;
}

#add_list_products {
  padding: 0px !important;
}

#add_list_products li {
  list-style-type: none;
}

#img_color {
  border: 1px solid #ddd;
  padding: 10px;
}

.errors_login p {
  color: red;
}

#logo_admin img {
  max-width: 80;
  height: auto;
  overflow: hidden;
}

#admin_status {
  color: green;
}

.navbar .nav_title {
  border: 0px !important;
}

.alert-danger {
  text-align: center;
}

#balck_logo img {
  margin-bottom: 50px;
}

#lang {
  z-index: 9999;
}

.add_products_color {
  margin: 20px 0 !important;
}

.choose-img {
  margin: 20px 0 !important;
}

.open-file-img {
  height: 100%;
  margin-bottom: 0px;
}

.del_pro_img {
  float: right;
  margin-top: 27px;
}

.flat {
  position: absolute;
  opacity: 0;
}

.iCheck-helper {
  position: absolute;
  top: 0%;
  left: 0%;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  border: 0px;
  opacity: 0;
}

.iradio_flat-green {
  position: relative;
}

.btn-submit {
  text-align: right;
}

.glyphicon-remove {
  cursor: pointer;
  padding-left: 5px;
}

#apartment-table_filter input {
  width: 300px;
  height: 2em;
  border: 1px solid;
  border-radius: 25px;
  padding: 5px 10px;
}

.del_item {
  float: right;
  position: relative;
  right: 5px;
}

h3 i {
  padding-right: 20px;
}

.radi {
  position: relative;
}

.inp_radio {
  position: absolute;
  opacity: 0;
}

.display_form {
  display: inline;
}

.padding_title {
  padding-right: 20px;
}

th .display {
  display: table-cell;
}

div .position {
  position: relative;
}

input .position {
  position: absolute;
  opacity: 0;
}

.bg_color {
  background: #edfffd !important;
}

a i .padding {
  padding: 3px;
}

tr .show content {
  max-width: 550px;
  overflow: hidden;
  word-wrap: break-word;
}

tr td .fix_size_img {
  width: 100px;
}

.breadcrumb {
  padding-top: 15px;
  padding-right: 15px;
}

#ward {
  display: block;
}

.fb_iframe_widget {
  min-width: 100% !important;
  width: 100% !important;
}

.fb_iframe_widget span {
  min-width: 100% !important;
  width: 100% !important;
}

.fb_iframe_widget span iframe[style] {
  min-width: 100% !important;
  width: 100% !important;
}

a .mar_bot {
  margin-bottom: 10px !important;
}

div .size_img {
  height: 100%;
}

div .size_img .order-button {
  cursor: pointer;
  padding: 13px 20px;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #FFF;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 2px;
  border: none;
  width: 100%;
}

#register label {
  color: #fff;
}

#register-form {
  border: 1px solid #fff;
  padding: 50px;
}

#customer {
  width: 45% !important;
}

#apartment_list_set_calendar_detail img {
  width: 100px;
  height: auto;
  overflow: hidden;
}

#apartment_list_set_calendar_detail tr td {
  vertical-align: middle !important;
}

.width_profile {
  width: 100%;
}

.w-50 {
  width: 25% !important;
}

#menu {
  text-transform: uppercase !important;
}

.active {
  color: #1ABB9C;
}

.recent-posts .media img {
  width: 80px;
  height: 70px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-1 img {
  width: 320px;
  height: 240px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-2 img {
  width: 130px;
  height: 86px;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.smail-properties li a img {
  width: 146px;
  height: 97px;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.img-fluid-main {
  width: 350px !important;
  height: 234px !important;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.detail .title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.location a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.conditions li {
  float: left;
  list-style: none;
  width: 123px;
}

.img-post {
  width: 130px;
  height: 86px;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

#table-post tr td {
  vertical-align: middle !important;
}

.photo img {
  width: 224px;
  height: 227px !important;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.post .detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.post .detail .desc-post {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fa-child {
  margin-right: 0px !important;
}

.desc-post-search {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-grid-box img {
  width: 350px;
  height: 233px !important;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

.blog-detail img {
  width: 730px !important;
  height: 386px !important;
  overflow: hidden;
  -o-object-fit: cover !important;
     object-fit: cover !important;
}

